body{
  font-family: sans-serif;
  margin: 0%;
}
header{
  display: flex;
  position: fixed;
  background-color: #eee;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}
.logo{
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 15px;
}
.logo a{
  color: black;
  text-decoration: none;
}
.head-links{
  display: inline-block;
  margin: 10px 30px;
}
.head-links li{
  display: inline-block;
}
.head-link a{
  color: gray;
  font-size: 16px;
  margin: 10px 5px;
  text-decoration: none;
}
.head-link a:hover{
  transition: all 0.3s ease 0s;
  color: black;
}
.now-page a{
  color: black;
  text-decoration: none;
  margin: 10px 5px;
}

.main_body{
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 80px;
}

h1{
  border-bottom: solid 1px lightgray;
}

#userid{
  border-radius: 10px;
  border: solid 1px lightgray;
  height: 40px;
  width: 220px;
  padding: 0px 12px;
  font-size: 18px;
}
#userid_ok{
  border-radius: 10px;
  height: 40px;
  width: auto;
  padding: 0px 12px;
  font-size: 18px;
  color: white;
  background-color: #25D;
  border: solid 1px blue;
}
#userid_ok:hover{
  color: #EEE;
  background-color: #1848D0;
}
#userid_ok:active{
  color: #DDD;
  background-color: #14A;
}
#rating{
  display: inline-block;
  font-size: 18px;
  padding: 0px 10px;
}
.problems{
  width: 100%;
  margin: 10px auto;
  border-collapse: collapse;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.problems th{
  font-size: 18px;
  padding: 12px;
  text-align: left;
  border: solid 1px lightgray;
  width: 14.2857%;
  border-bottom: solid 3px lightgray;
}

.problems td{
  font-size: 18px;
  border: solid 1px lightgray;
  padding: 12px;
}

.problems a{
  text-decoration: none;
}

.diff-circle{
  display: inline-block;
  margin: 0px 2px;
  border-radius: 50%;
}
.none-diff{
  width: 0px;
}

.gray-diff{
  color: #888;
}
.brown-diff{
  color: #840;
}
.green-diff{
  color: #080;
}
.cyan-diff{
  color: #0CC;
}
.blue-diff{
  color: #00F;
}
.yellow-diff{
  color: #CC0;
}
.orange-diff{
  color: #F80;
}
.red-diff{
  color: #F00;
}
.none-diff{
  color: #000;
}
.OMC-contest{
  color: #08A;
}


.show-diff {
  display: block;
  position: relative;
  cursor: pointer;
}
.show-diff::after {
  font-size: 15px;
  position: absolute;
  transition: all 0.3s ease 0s;
  opacity: 0;
  top: 0px;/*HOVERのスタート位置*/
  left: 0px;
  display: block;
  padding: 0.2em 0.5em;
  content: attr(data-tooltip);
  white-space: nowrap;
  color: #ffffff;
  border-radius: 6px;
  background: #1b2538;
}
.show-diff:hover::after {
  top: 26px;/*HOVER位置*/
  opacity: 1;
}
